<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <!-- -->
    <!-- <system.data> -->
    <!--     <DbProviderFactories> -->
    <!--         <remove invariant="Mono.Data.Sqlite" /> -->
    <!-- -->
    <!--         <add description=".Net Framework Data Provider for Sqlite" invariant="Mono.Date.Sqlite" name="Mono.Data.Sqlite" type="Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" /></DbProviderFactories> -->
    <!-- </system.data> -->
    <connectionStrings>
        <clear />
        <add name="problema5DB" providerName="" connectionString="Data Source=C:/Users/oniga/OneDrive/Desktop/an2sem2/MPP/dbProiect/childrencompetition.db; Version=3" />
        <!--  <add name="tasksDB" connectionString="Database=mpp;Data Source=localhost;User id=test;Password=passtest;CharSet=utf8" /> -->
    </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite.EF6" />
            <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
            <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
    </system.data>
    <!-- <startup>  -->
    <!--     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" /> -->
    <!-- </startup> -->
    <system.windows.forms jitDebugging="true" />
</configuration>